# DATAFRAMES

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("/Volumes/MACBACKUP/workspaceDlake/dlake/base/fornecedores_DB1.parquet")
display(df)

,id,nome,endereco,telefone,origem
0,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,DB1
1,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,DB1
2,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,DB1
3,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,DB1
4,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,DB1
5,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,DB1
6,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,DB1
7,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,DB1
8,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,DB1
9,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,DB1
10,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,DB1
11,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,DB1
12,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,DB1
13,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,DB1
14,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,DB1
15,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,DB1
16,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,DB1

In [3]:
df = pd.read_parquet("/Volumes/MACBACKUP/workspaceDlake/dlake/base/produtos_DB1.parquet")
display(df)

    id           nome       preco origem
0    1             Ab  142.839996    DB1
1    2        Dolorum  854.780029    DB1
2    3       Nesciunt   60.580002    DB1
3    4       Nesciunt   89.239998    DB1
4    5        Numquam   76.750000    DB1
5    6         Labore  446.350006    DB1
6    7            Sit  803.080017    DB1
7    8          Ipsam  745.919983    DB1
8    9         Maxime  955.010010    DB1
9   10          Culpa  251.509995    DB1
10  11          Nulla  886.049988    DB1
11  12       Pariatur  231.199997    DB1
12  13             Et  308.519989    DB1
13  14      Inventore  556.239990    DB1
14  15            Cum  721.000000    DB1
15  16         Quidem  239.539993    DB1
16  17       Incidunt  698.609985    DB1
17  18  Reprehenderit  844.799988    DB1
18  19      Molestias  598.570007    DB1
19  20           Quos  555.640015    DB1
20  21              A  321.109985    DB1
21  22     Voluptates  579.450012    DB1
22  23          Culpa   95.440002    DB1
23  24     Asperiores  494.209991    DB1
24  25     Laboriosam  682.530029    DB1

In [4]:
df = pd.read_parquet("/Volumes/MACBACKUP/workspaceDlake/dlake/base/vendas_DB1.parquet")
display(df)

,id,vendedor_id,produto_id,fornecedor_id,quantidade,valor_total,data,origem
0,1,5,7,4,3,2409.239990,2020-02-24,DB1
1,2,5,9,4,1,955.010010,2023-04-06,DB1
2,3,4,7,3,7,5621.560059,2020-03-08,DB1
3,4,3,10,5,3,754.530029,2020-04-16,DB1
4,5,3,10,3,3,754.530029,2024-11-14,DB1
5,6,4,4,2,7,624.679993,2024-02-20,DB1
6,7,3,3,3,8,484.640015,2023-06-10,DB1
7,8,3,2,5,3,2564.340088,2024-10-16,DB1
8,9,3,1,2,1,142.839996,2023-05-22,DB1
9,10,8,24,16,4,1976.839966,2022-04-15,DB1
10,11,9,25,15,1,682.530029,2024-07-08,DB1
11,12,6,23,17,10,954.400024,2022-12-09,DB1
12,13,6,25,16,9,6142.770020,2024-10-25,DB1
13,14,7,21,15,2,642.219971,2020-10-05,DB1
14,15,8,25,16,10,6825.299805,2020-10-12,DB1
15,16,9,23,16,10,954.400024,2024-06-24,DB1

In [6]:
con.close()

NameError: name 'con' is not defined

In [5]:
df = pd.read_parquet("/Volumes/MACBACKUP/workspaceDlake/dlake/base/vendedores_DB1.parquet")
display(df)

   id                     nome                           email  idade origem
0   1              Lunna Brito    rochamaria-laura@example.com     34    DB1
1   2            Lucca Rezende              wpinto@example.net     40    DB1
2   3          Anna Liz Farias  aparecidaana-clara@example.org     24    DB1
3   4    Dra. Mirella Mendonça    cardosoguilherme@example.com     37    DB1
4   5      João Lucas Caldeira      enricoda-rocha@example.net     47    DB1
5   6          Allana Carvalho             bguerra@example.net     47    DB1
6   7              Stella Rios    pedro-henrique26@example.net     30    DB1
7   8  Sra. Emanuelly Oliveira              lais10@example.net     39    DB1
8   9          Theodoro Pastor            raquel39@example.com     35    DB1
9  10            Maria Barbosa       cecilianovaes@example.com     46    DB1

In [9]:
df = pd.read_parquet("/Users/danielcarloss7s/Downloads/vendedores_DB1.parquet")
display(df)

,idVendedor,nomeVendedor,emailVendedor,idadeVendedor,origem
0,1,Lunna Brito,rochamaria-laura@example.com,34,DB1
1,2,Lucca Rezende,wpinto@example.net,40,DB1
2,3,Anna Liz Farias,aparecidaana-clara@example.org,24,DB1
3,4,Dra. Mirella Mendonça,cardosoguilherme@example.com,37,DB1
4,5,João Lucas Caldeira,enricoda-rocha@example.net,47,DB1
5,6,Allana Carvalho,bguerra@example.net,47,DB1
6,7,Stella Rios,pedro-henrique26@example.net,30,DB1
7,8,Sra. Emanuelly Oliveira,lais10@example.net,39,DB1
8,9,Theodoro Pastor,raquel39@example.com,35,DB1
9,10,Maria Barbosa,cecilianovaes@example.com,46,DB1

In [21]:
df = pd.read_parquet("/Users/danielcarloss7s/Downloads/silverAnaliticsFornecedor.parquet")
display(df)

,idFornecedor,nomeFornecedor,enderecoFornecedor,telefoneFornecedor,origem
0,1,Peixoto,"Fazenda de Mendes, 75\nFlavio De Oliveira\n125...",+55 (084) 3458-5032,DB2
1,1,Silva,"Núcleo Cirino, 15\nZilah Sposito\n31034777 da ...",51 9164 7450,DB3
2,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,DB1
3,2,Pereira Ltda.,Recanto Mathias Pinto\nVila Antena Montanhês\n...,+55 41 9150 3848,DB3
4,2,Rios - ME,"Rodovia Carvalho, 7\nMaravilha\n46952400 Barbo...",(081) 3766 5246,DB2
5,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,DB1
6,3,Fernandes,"Praia Benjamin Pires, 5\nPrimeiro De Maio\n120...",+55 (021) 2696 7754,DB2
7,3,Ribeiro,"Condomínio da Paz, 45\nVila Madre Gertrudes 2ª...",+55 (071) 2426-3024,DB3
8,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,DB1
9,4,da Rocha Costa - ME,Colônia da Mota\nVila Nova Cachoeirinha 1ª Seç...,+55 51 5440 1025,DB3
10,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,DB1
11,4,Siqueira,"Trevo Stella Nunes, 91\nHorto\n23002-548 Viana...",+55 (061) 3329 4089,DB2
12,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,DB1
13,5,da Cruz,"Chácara de Azevedo, 8\nAndiroba\n32181858 Corr...",+55 (071) 7957-9959,DB2
14,5,Novais Cunha - EI,"Vereda de Duarte, 54\nBelmonte\n65200190 Brito...",+55 61 4968-4664,DB3
15,6,Cavalcanti,"Vale Emanuella Aragão, 642\nConjunto Bonsucess...",0500 951 3449,DB3
16,6,Correia Ltda.,"Lagoa Pacheco, 7\nVila Antena Montanhês\n70794...",+55 (011) 1661-4945,DB2
17,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,DB1
18,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,DB1
19,7,Montenegro,Conjunto de da Cunha\nVentosa\n93333-194 Peixo...,+55 (011) 7682 5672,DB2
20,7,Teixeira,"Conjunto Vieira, 51\nCoração De Jesus\n65858-7...",71 4186 5633,DB3
21,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,DB1
22,8,Cardoso Sampaio - EI,"Área Stella da Cunha, 75\nSerrano\n38312-764 O...",+55 (084) 3347 8077,DB3
23,8,Garcia Ltda.,"Conjunto de da Paz, 69\nComiteco\n53674-877 Po...",31 3082 7972,DB2
24,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,DB1
25,9,Aparecida,"Esplanada de Correia, 7\nConjunto Celso Machad...",0500 141 9316,DB2
26,9,Vargas Siqueira - EI,Pátio Monteiro\nVila Satélite\n64016037 Moraes...,+55 41 8839 2342,DB3
27,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,DB1
28,10,Casa Grande,"Avenida Porto, 5\nCandelaria\n74910808 Porto d...",+55 (011) 9204 8080,DB2
29,10,Castro - EI,"Loteamento da Rocha, 67\nCasa Branca\n23020484...",(011) 3767-9350,DB3
30,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,DB1
31,11,Costa Freitas S.A.,"Distrito de Costela, 444\nUniversitário\n15870...",(021) 2606-8420,DB2
32,11,Abreu S.A.,"Setor Leão, 33\nNovo São Lucas\n03210-265 Pint...",+55 (084) 3144 8782,DB3
33,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,DB1
34,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,DB1
35,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,DB1
36,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,DB1
37,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,DB1
38,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,DB1

In [11]:
dfFor = pd.read_parquet("/Users/danielcarloss7s/Downloads/02-02-2025-17-16-24_files_list/silverAnaliticsFornecedor.parquet")
dfPro = pd.read_parquet("/Users/danielcarloss7s/Downloads/02-02-2025-17-16-24_files_list/silverAnaliticsProdutos.parquet")
dfVend = pd.read_parquet("/Users/danielcarloss7s/Downloads/02-02-2025-17-16-24_files_list/silverAnaliticsVendas.parquet")
dfVedor = pd.read_parquet("/Users/danielcarloss7s/Downloads/02-02-2025-17-16-24_files_list/silverAnaliticsVendedor.parquet")

In [12]:
display(dfFor)
display(dfPro)
display(dfVend)
display(dfVedor)

,idFornecedor,nomeFornecedor,enderecoFornecedor,telefoneFornecedor,origem
0,1,Peixoto,"Fazenda de Mendes, 75\nFlavio De Oliveira\n125...",+55 (084) 3458-5032,DB2
1,1,Silva,"Núcleo Cirino, 15\nZilah Sposito\n31034777 da ...",51 9164 7450,DB3
2,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,DB1
3,2,Pereira Ltda.,Recanto Mathias Pinto\nVila Antena Montanhês\n...,+55 41 9150 3848,DB3
4,2,Rios - ME,"Rodovia Carvalho, 7\nMaravilha\n46952400 Barbo...",(081) 3766 5246,DB2
5,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,DB1
6,3,Fernandes,"Praia Benjamin Pires, 5\nPrimeiro De Maio\n120...",+55 (021) 2696 7754,DB2
7,3,Ribeiro,"Condomínio da Paz, 45\nVila Madre Gertrudes 2ª...",+55 (071) 2426-3024,DB3
8,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,DB1
9,4,da Rocha Costa - ME,Colônia da Mota\nVila Nova Cachoeirinha 1ª Seç...,+55 51 5440 1025,DB3
10,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,DB1
11,4,Siqueira,"Trevo Stella Nunes, 91\nHorto\n23002-548 Viana...",+55 (061) 3329 4089,DB2
12,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,DB1
13,5,da Cruz,"Chácara de Azevedo, 8\nAndiroba\n32181858 Corr...",+55 (071) 7957-9959,DB2
14,5,Novais Cunha - EI,"Vereda de Duarte, 54\nBelmonte\n65200190 Brito...",+55 61 4968-4664,DB3
15,6,Cavalcanti,"Vale Emanuella Aragão, 642\nConjunto Bonsucess...",0500 951 3449,DB3
16,6,Correia Ltda.,"Lagoa Pacheco, 7\nVila Antena Montanhês\n70794...",+55 (011) 1661-4945,DB2
17,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,DB1
18,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,DB1
19,7,Montenegro,Conjunto de da Cunha\nVentosa\n93333-194 Peixo...,+55 (011) 7682 5672,DB2
20,7,Teixeira,"Conjunto Vieira, 51\nCoração De Jesus\n65858-7...",71 4186 5633,DB3
21,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,DB1
22,8,Cardoso Sampaio - EI,"Área Stella da Cunha, 75\nSerrano\n38312-764 O...",+55 (084) 3347 8077,DB3
23,8,Garcia Ltda.,"Conjunto de da Paz, 69\nComiteco\n53674-877 Po...",31 3082 7972,DB2
24,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,DB1
25,9,Aparecida,"Esplanada de Correia, 7\nConjunto Celso Machad...",0500 141 9316,DB2
26,9,Vargas Siqueira - EI,Pátio Monteiro\nVila Satélite\n64016037 Moraes...,+55 41 8839 2342,DB3
27,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,DB1
28,10,Casa Grande,"Avenida Porto, 5\nCandelaria\n74910808 Porto d...",+55 (011) 9204 8080,DB2
29,10,Castro - EI,"Loteamento da Rocha, 67\nCasa Branca\n23020484...",(011) 3767-9350,DB3
30,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,DB1
31,11,Costa Freitas S.A.,"Distrito de Costela, 444\nUniversitário\n15870...",(021) 2606-8420,DB2
32,11,Abreu S.A.,"Setor Leão, 33\nNovo São Lucas\n03210-265 Pint...",+55 (084) 3144 8782,DB3
33,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,DB1
34,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,DB1
35,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,DB1
36,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,DB1
37,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,DB1
38,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,DB1

    idProduto nomeProduto       preco origem
0           1          Ab  142.839996    DB1
1           1  Voluptates  490.410004    DB3
2           1         Eum  633.320007    DB2
3           2       Earum  805.190002    DB2
4           2      Beatae  178.160004    DB3
..        ...         ...         ...    ...
61         22    Deleniti  458.519989    DB3
62         23   Accusamus  661.229980    DB3
63         23       Culpa   95.440002    DB1
64         24  Asperiores  494.209991    DB1
65         25  Laboriosam  682.530029    DB1

[66 rows x 4 columns]

,idVendas,idVendedor,idProdutos,idFornecedor,quantidade,valorTotal,data,origem
0,1,5,1,3,1,490.410004,2021-10-02,DB3
1,1,2,4,1,1,70.839996,2024-10-30,DB2
2,1,5,7,4,3,2409.239990,2020-02-24,DB1
3,2,2,1,4,3,1899.959961,2020-08-10,DB2
4,2,4,8,4,8,1567.920044,2021-05-08,DB3
5,2,5,9,4,1,955.010010,2023-04-06,DB1
6,3,3,15,4,10,8787.599609,2023-05-03,DB3
7,3,4,7,3,7,5621.560059,2020-03-08,DB1
8,3,1,6,7,6,1645.739990,2024-06-06,DB2
9,4,3,10,5,3,754.530029,2020-04-16,DB1
10,4,1,11,6,2,761.780029,2023-01-11,DB2
11,4,3,9,6,5,4833.149902,2022-09-30,DB3
12,5,3,10,3,3,754.530029,2024-11-14,DB1
13,5,2,6,1,1,997.039978,2023-11-10,DB3
14,5,3,7,1,5,1120.750000,2023-04-11,DB2
15,6,1,3,5,9,8698.679688,2020-09-19,DB2
16,6,3,8,1,2,391.980011,2021-08-18,DB3
17,6,4,4,2,7,624.679993,2024-02-20,DB1
18,7,3,3,3,8,484.640015,2023-06-10,DB1
19,7,5,3,1,6,1359.780029,2020-07-20,DB3
20,7,4,3,6,3,2899.560059,2023-01-13,DB2
21,8,5,2,1,3,534.479980,2024-08-28,DB3
22,8,3,2,5,3,2564.340088,2024-10-16,DB1
23,8,3,3,6,6,5799.120117,2020-09-15,DB2
24,9,3,1,2,1,142.839996,2023-05-22,DB1
25,9,4,4,7,9,637.559998,2020-03-05,DB2
26,9,3,14,5,6,829.739990,2023-05-07,DB3
27,10,10,20,10,9,1326.780029,2022-08-21,DB3
28,10,8,24,16,4,1976.839966,2022-04-15,DB1
29,10,9,14,9,5,2729.500000,2021-06-22,DB2
30,11,9,25,15,1,682.530029,2024-07-08,DB1
31,11,10,22,7,4,1834.079956,2021-07-10,DB3
32,11,9,17,9,3,2233.679932,2020-03-03,DB2
33,12,6,23,17,10,954.400024,2022-12-09,DB1
34,12,6,23,10,7,4628.609863,2024-12-21,DB3
35,12,8,17,10,8,5956.479980,2023-09-22,DB2
36,13,6,25,16,9,6142.770020,2024-10-25,DB1
37,13,10,22,9,1,458.519989,2020-05-07,DB3
38,13,7,17,8,2,1489.119995,2022-08-15,DB2
39,14,7,21,15,2,642.219971,2020-10-05,DB1
40,14,8,17,8,4,2978.239990,2021-12-31,DB2
41,14,9,19,11,2,903.000000,2024-02-25,DB3
42,15,8,25,16,10,6825.299805,2020-10-12,DB1
43,15,10,14,9,8,4367.200195,2022-09-04,DB2
44,15,6,20,11,8,1179.359985,2023-07-17,DB3
45,16,9,23,16,10,954.400024,2024-06-24,DB1
46,16,7,14,9,10,5459.000000,2021-06-16,DB2
47,16,7,23,8,7,4628.609863,2024-09-01,DB3
48,17,7,16,10,7,4371.919922,2023-03-23,DB3
49,17,8,14,11,1,545.900024,2022-01-20,DB2
50,18,10,17,10,8,5956.479980,2022-08-14,DB2
51,18,10,20,8,10,1474.199951,2024-04-21,DB3
52,19,10,14,8,1,545.900024,2022-05-21,DB2
53,19,8,19,7,6,2709.000000,2022-02-04,DB3
54,20,6,18,10,9,8885.969727,2020-05-11,DB3
55,21,7,19,10,9,4063.500000,2023-06-28,DB3

,idVendedor,nomeVendedor,emailVendedor,idadeVendedor,origem
0,1,Lunna Brito,rochamaria-laura@example.com,34,DB1
1,1,Bruna Abreu,bferreira@example.com,22,DB2
2,1,Carolina Novais,enrico47@example.org,33,DB3
3,2,Lucca Rezende,wpinto@example.net,40,DB1
4,2,Evelyn Freitas,maria-luisanascimento@example.com,35,DB3
5,2,Isabella Pimenta,camargogabrielly@example.net,46,DB2
6,3,Igor Vieira,borgesmelissa@example.com,46,DB2
7,3,Anna Liz Farias,aparecidaana-clara@example.org,24,DB1
8,3,Brayan Garcia,souzamelissa@example.net,28,DB3
9,4,Davi Lucas Souza,tlima@example.com,42,DB2
10,4,Bruna Novaes,nunesnoah@example.org,26,DB3
11,4,Dra. Mirella Mendonça,cardosoguilherme@example.com,37,DB1
12,5,João Vitor Sá,benjaminazevedo@example.com,27,DB2
13,5,Ana Júlia Costa,caldeiramaria-eduarda@example.com,49,DB3
14,5,João Lucas Caldeira,enricoda-rocha@example.net,47,DB1
15,6,Allana Carvalho,bguerra@example.net,47,DB1
16,6,Maria Júlia Oliveira,antony39@example.org,47,DB2
17,6,Mariah Silva,enzo-gabrielteixeira@example.com,40,DB3
18,7,Srta. Cecília Siqueira,mendoncakevin@example.net,24,DB3
19,7,Mateus Sá,zoeporto@example.net,40,DB2
20,7,Stella Rios,pedro-henrique26@example.net,30,DB1
21,8,João Lucas Pacheco,hda-mota@example.net,35,DB3
22,8,Sra. Emanuelly Oliveira,lais10@example.net,39,DB1
23,8,Maria Júlia Pereira,gabrielaaragao@example.com,40,DB2
24,9,Oliver Ramos,saramendes@example.com,20,DB2
25,9,Manuela Caldeira,henry71@example.org,45,DB3
26,9,Theodoro Pastor,raquel39@example.com,35,DB1
27,10,Maria Barbosa,cecilianovaes@example.com,46,DB1
28,10,Maria Liz Novaes,laura51@example.org,36,DB3
29,10,Carolina Silveira,correiabrenda@example.org,32,DB2

In [ ]:
df = pd.read_parquet("/Users/danielcarloss7s/Downloads/goldVendas (1).parquet")
display(df)

In [20]:
df = pd.read_parquet("/Users/danielcarloss7s/Downloads/fornecedores_DB1.parquet")
display(df)

,dtcriação,endereco,id,nome,origem,telefone
0,None,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,1,Machado - ME,2025-02-05 06:45:01,+55 81 5040-7669
1,None,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",2,Melo Martins Ltda.,2025-02-05 06:45:01,0500 859 7457
2,None,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",3,Pereira - EI,2025-02-05 06:45:01,(011) 8144-8050
3,None,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",4,Casa Grande,2025-02-05 06:45:01,(041) 3565-8571
4,None,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",5,Sales,2025-02-05 06:45:01,(084) 2173-5590
5,None,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",6,Abreu,2025-02-05 06:45:01,+55 71 3187-2758
6,None,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",7,Ribeiro,2025-02-05 06:45:01,84 9622 9908
7,None,"Travessa Barros, 802\nCinquentenário\n45486-42...",8,Costa Mendonça e Filhos,2025-02-05 06:45:01,0500 509 3592
8,None,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",9,Ribeiro,2025-02-05 06:45:01,71 9829-4069
9,None,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",10,Carvalho S.A.,2025-02-05 06:45:01,+55 61 4893-9602
10,None,Condomínio Almeida\nCidade Jardim\n47696-418 V...,11,Nunes,2025-02-05 06:45:01,+55 51 8469 7227
11,None,"Estação Luiz Fernando da Rocha, 457\nJardim At...",12,Viana Pereira S/A,2025-02-05 06:45:01,31 4137-3148
12,None,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",13,Cavalcante,2025-02-05 06:45:01,+55 21 7247-8470
13,None,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",14,Pinto Novais S/A,2025-02-05 06:45:01,+55 (071) 0022-0612
14,None,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",15,da Rocha Ltda.,2025-02-05 06:45:01,51 8478 8592
15,None,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",16,Sá,2025-02-05 06:45:01,(061) 0761 7014
16,None,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,17,da Cunha Sousa e Filhos,2025-02-05 06:45:01,+55 61 1689 8303
17,None,"Núcleo Lunna Freitas, 26\nVila Nova Cachoeirin...",18,Farias - ME,2025-02-05 06:45:01,+55 51 3839 2286
18,None,Rodovia Asafe Cavalcanti\nComiteco\n10407897 B...,19,Rios - ME,2025-02-05 06:45:01,+55 61 2295 0105
19,None,"Via Freitas, 241\nAlto Das Antenas\n21448085 F...",20,Macedo,2025-02-05 06:45:01,21 2997 8905
20,None,Avenida Isis Aparecida\nEstoril\n36007629 Abre...,21,das Neves S.A.,2025-02-05 06:45:01,0900 823 7906
21,None,"Favela de Casa Grande, 83\nTres Marias\n174382...",22,Moreira,2025-02-05 06:45:01,+55 11 2443-4792
22,None,"Pátio Vargas, 18\nMala E Cuia\n69300419 Noguei...",23,Fonseca,2025-02-05 06:45:01,(051) 2570 4520
23,2025-02-05 07:11:41,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",2,Melo Martins Ltda.,db1,0500 859 7457
24,2025-02-05 07:11:41,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",10,Carvalho S.A.,db1,+55 61 4893-9602
25,2025-02-05 07:11:41,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",6,Abreu,db1,+55 71 3187-2758
26,2025-02-05 07:11:41,Condomínio Almeida\nCidade Jardim\n47696-418 V...,11,Nunes,db1,+55 51 8469 7227
27,2025-02-05 07:11:41,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,17,da Cunha Sousa e Filhos,db1,+55 61 1689 8303
28,2025-02-05 07:11:41,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,1,Machado - ME,db1,+55 81 5040-7669
29,2025-02-05 07:11:41,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",3,Pereira - EI,db1,(011) 8144-8050
30,2025-02-05 07:11:41,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",5,Sales,db1,(084) 2173-5590
31,2025-02-05 07:11:41,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",7,Ribeiro,db1,84 9622 9908
32,2025-02-05 07:11:41,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",9,Ribeiro,db1,71 9829-4069
33,2025-02-05 07:11:41,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",13,Cavalcante,db1,+55 21 7247-8470
34,2025-02-05 07:11:41,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",15,da Rocha Ltda.,db1,51 8478 8592
35,2025-02-05 07:11:41,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",16,Sá,db1,(061) 0761 7014
36,2025-02-05 07:11:41,"Núcleo Lunna Freitas, 26\nVila Nova Cachoeirin...",18,Farias - ME,db1,+55 51 3839 2286
37,2025-02-05 07:11:41,"Via Freitas, 241\nAlto Das Antenas\n21448085 F...",20,Macedo,db1,21 2997 8905
38,2025-02-05 07:11:41,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",4,Casa Grande,db1,(041) 3565-8571
39,2025-02-05 07:11:41,"Travessa Barros, 802\nCinquentenário\n45486-42...",8,Costa Mendonça e Filhos,db1,0500 509 3592
40,2025-02-05 07:11:41,"Estação Luiz Fernando da Rocha, 457\nJardim At...",12,Viana Pereira S/A,db1,31 4137-3148
41,2025-02-05 07:11:41,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",14,Pinto Novais S/A,db1,+55 (071) 0022-0612
42,2025-02-05 07:11:41,Rodovia Asafe Cavalcanti\nComiteco\n10407897 B...,19,Rios - ME,db1,+55 61 2295 0105
43,2025-02-05 07:11:41,Avenida Isis Aparecida\nEstoril\n36007629 Abre...,21,das Neves S.A.,db1,0900 823 7906
44,2025-02-05 07:11:41,"Favela de Casa Grande, 83\nTres Marias\n174382...",22,Moreira,db1,+55 11 2443-4792
45,2025-02-05 07:11:41,"Pátio Vargas, 18\nMala E Cuia\n69300419 Noguei...",23,Fonseca,db1,(051) 2570 4520

# TESTES DE PY VIGENTE

In [26]:
import duckdb
import os
import glob

# Caminho onde os arquivos Parquet foram baixados
local_download_path = "./downloads_landzone/landzone"

# Identifica todos os arquivos Parquet
parquet_files = glob.glob(os.path.join(local_download_path, "*.parquet"))

# Dicionário para armazenar conexões DuckDB
db_connections = {}

# Processar cada arquivo Parquet
for file in parquet_files:
    # Extrair nome do arquivo (ex: fornecedores_db1.parquet)
    filename = os.path.basename(file)
    
    # Separar nome base e banco (ex: "fornecedores", "db1")
    table_name, db_name = filename.replace(".parquet", "").rsplit("_", 1)

    # Criar conexão com o banco correspondente
    db_path = f"./downloads_landzone/{db_name}.duckdb"
    
    if db_name not in db_connections:
        db_connections[db_name] = duckdb.connect(db_path)

    conn = db_connections[db_name]

    # Criar tabela e importar os dados
    conn.execute(f"""
        CREATE TABLE IF NOT EXISTS {table_name} AS 
        SELECT * FROM read_parquet('{file}');
    """)
    print(f"Arquivo {filename} importado para {db_name}.duckdb na tabela {table_name}.")

# Fechar conexões
for conn in db_connections.values():
    conn.close()

print("Importação concluída!")

Arquivo fornecedores_db1.parquet importado para db1.duckdb na tabela fornecedores.
Arquivo fornecedores_db2.parquet importado para db2.duckdb na tabela fornecedores.
Arquivo fornecedores_db3.parquet importado para db3.duckdb na tabela fornecedores.
Arquivo produtos_db1.parquet importado para db1.duckdb na tabela produtos.
Arquivo produtos_db2.parquet importado para db2.duckdb na tabela produtos.
Arquivo produtos_db3.parquet importado para db3.duckdb na tabela produtos.
Arquivo vendas_db1.parquet importado para db1.duckdb na tabela vendas.
Arquivo vendas_db2.parquet importado para db2.duckdb na tabela vendas.
Arquivo vendas_db3.parquet importado para db3.duckdb na tabela vendas.
Arquivo vendedores_db1.parquet importado para db1.duckdb na tabela vendedores.
Arquivo vendedores_db2.parquet importado para db2.duckdb na tabela vendedores.
Arquivo vendedores_db3.parquet importado para db3.duckdb na tabela vendedores.
Importação concluída!

In [30]:
import duckdb
import os
from minio import Minio
from minio.error import S3Error

# Configuração do MinIO
minio_client = Minio(
    "127.0.0.1:9001",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

# Nome do bucket de destino
dest_bucket = "datalake"

# Estrutura das pastas no MinIO
base_prefix = "bronze"
sub_prefix_mapping = {
    "db1": "bronzedb1",
    "db2": "bronzedb2",
    "db3": "bronzedb3"
}

# Lista de bancos DuckDB
databases = ["db1", "db2", "db3"]

# Criar pasta local temporária para armazenar os Parquets antes do upload
local_parquet_path = "./parquet_export"
os.makedirs(local_parquet_path, exist_ok=True)

# Processar cada banco
for db in databases:
    db_path = f"./downloads_landzone/{db}.duckdb"
    conn = duckdb.connect(db_path)

    # Obter todas as tabelas do banco
    tables = conn.execute("SHOW TABLES").fetchall()
    
    for table in tables:
        table_name = table[0]

        # Caminho do arquivo Parquet
        parquet_file = os.path.join(local_parquet_path, f"{table_name}_{db}.parquet")

        # Exportar os dados para Parquet
        conn.execute(f"COPY {table_name} TO '{parquet_file}' (FORMAT PARQUET);")
        print(f"Exportado: {parquet_file}")

        # Caminho no MinIO
        minio_path = f"{base_prefix}/{sub_prefix_mapping[db]}/{table_name}.parquet"

        # Enviar para MinIO
        try:
            minio_client.fput_object(dest_bucket, minio_path, parquet_file)
            print(f"Enviado para MinIO: {dest_bucket}/{minio_path}")
        except S3Error as e:
            print(f"Erro ao enviar {parquet_file} para MinIO: {e}")

    # Fechar conexão com o banco DuckDB
    conn.close()

print("Processo concluído! 🎯")

Exportado: ./parquet_export/fornecedores_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/fornecedores.parquet
Exportado: ./parquet_export/produtos_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/produtos.parquet
Exportado: ./parquet_export/vendas_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/vendas.parquet
Exportado: ./parquet_export/vendedores_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/vendedores.parquet
Exportado: ./parquet_export/fornecedores_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/fornecedores.parquet
Exportado: ./parquet_export/produtos_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/produtos.parquet
Exportado: ./parquet_export/vendas_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/vendas.parquet
Exportado: ./parquet_export/vendedores_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/vendedores.parquet
Exportado: ./parquet_export/fornecedores_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/fornecedores.parquet
Exportado: ./parquet_export/produtos_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/produtos.parquet
Exportado: ./parquet_export/vendas_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/vendas.parquet
Exportado: ./parquet_export/vendedores_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/vendedores.parquet
Processo concluído! 🎯

In [34]:
import duckdb
import os
from minio import Minio
from minio.error import S3Error

# Configuração do MinIO
minio_client = Minio(
    "127.0.0.1:9001",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

# Nome do bucket de destino
dest_bucket = "datalake"

# Estrutura das pastas no MinIO
base_prefix = "bronze"
sub_prefix_mapping = {
    "db1": "bronzedb1",
    "db2": "bronzedb2",
    "db3": "bronzedb3"
}

# Lista de bancos DuckDB
databases = ["db1", "db2", "db3"]

# Criar pasta local temporária para armazenar os Parquets antes do upload
local_parquet_path = "./parquet_export"
os.makedirs(local_parquet_path, exist_ok=True)

# Processar cada banco
for db in databases:
    db_path = f"./downloads_landzone/{db}.duckdb"
    conn = duckdb.connect(db_path)

    # Obter todas as tabelas do banco
    tables = conn.execute("SHOW TABLES").fetchall()
    
    for table in tables:
        table_name = table[0]

        # Caminho do arquivo Parquet
        parquet_file = os.path.join(local_parquet_path, f"{table_name}_{db}.parquet")

        # Exportar os dados para Parquet
        conn.execute(f"COPY {table_name} TO '{parquet_file}' (FORMAT PARQUET);")
        print(f"Exportado: {parquet_file}")

        # Caminho no MinIO
        minio_path = f"{base_prefix}/{sub_prefix_mapping[db]}/{table_name}.parquet"

        # Enviar para MinIO
        try:
            minio_client.fput_object(dest_bucket, minio_path, parquet_file)
            print(f"Enviado para MinIO: {dest_bucket}/{minio_path}")

            # Excluir arquivo Parquet local após o upload
            os.remove(parquet_file)
            print(f"Arquivo local removido: {parquet_file}")

        except S3Error as e:
            print(f"Erro ao enviar {parquet_file} para MinIO: {e}")

    # Fechar conexão com o banco DuckDB
    conn.close()

# Remover a pasta temporária se estiver vazia
try:
    os.rmdir(local_parquet_path)
    print(f"Pasta removida: {local_parquet_path}")
except OSError:
    print(f"A pasta {local_parquet_path} não está vazia ou já foi removida.")

print("Processo concluído! 🎯")

Exportado: ./parquet_export/fornecedores_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/fornecedores.parquet
Arquivo local removido: ./parquet_export/fornecedores_db1.parquet
Exportado: ./parquet_export/produtos_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/produtos.parquet
Arquivo local removido: ./parquet_export/produtos_db1.parquet
Exportado: ./parquet_export/vendas_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/vendas.parquet
Arquivo local removido: ./parquet_export/vendas_db1.parquet
Exportado: ./parquet_export/vendedores_db1.parquet
Enviado para MinIO: datalake/bronze/bronzedb1/vendedores.parquet
Arquivo local removido: ./parquet_export/vendedores_db1.parquet
Exportado: ./parquet_export/fornecedores_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/fornecedores.parquet
Arquivo local removido: ./parquet_export/fornecedores_db2.parquet
Exportado: ./parquet_export/produtos_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/produtos.parquet
Arquivo local removido: ./parquet_export/produtos_db2.parquet
Exportado: ./parquet_export/vendas_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/vendas.parquet
Arquivo local removido: ./parquet_export/vendas_db2.parquet
Exportado: ./parquet_export/vendedores_db2.parquet
Enviado para MinIO: datalake/bronze/bronzedb2/vendedores.parquet
Arquivo local removido: ./parquet_export/vendedores_db2.parquet
Exportado: ./parquet_export/fornecedores_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/fornecedores.parquet
Arquivo local removido: ./parquet_export/fornecedores_db3.parquet
Exportado: ./parquet_export/produtos_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/produtos.parquet
Arquivo local removido: ./parquet_export/produtos_db3.parquet
Exportado: ./parquet_export/vendas_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/vendas.parquet
Arquivo local removido: ./parquet_export/vendas_db3.parquet
Exportado: ./parquet_export/vendedores_db3.parquet
Enviado para MinIO: datalake/bronze/bronzedb3/vendedores.parquet
Arquivo local removido: ./parquet_export/vendedores_db3.parquet
Pasta removida: ./parquet_export
Processo concluído! 🎯

In [24]:
df = pd.read_parquet("/Users/danielcarloss7s/Downloads/fornecedores_db1.parquet")
display(df)

,id,nome,endereco,telefone,dtcriação,origem
0,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,2025-02-05 07:11:41,db1
1,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,2025-02-05 07:11:41,db1
2,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,2025-02-05 07:11:41,db1
3,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,2025-02-05 07:11:41,db1
4,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,2025-02-05 07:11:41,db1
5,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,2025-02-05 07:11:41,db1
6,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,2025-02-05 07:11:41,db1
7,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,2025-02-05 07:11:41,db1
8,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,2025-02-05 07:11:41,db1
9,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,2025-02-05 07:11:41,db1
10,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,2025-02-05 07:11:41,db1
11,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,2025-02-05 07:11:41,db1
12,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,2025-02-05 07:11:41,db1
13,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,2025-02-05 07:11:41,db1
14,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,2025-02-05 07:11:41,db1
15,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,2025-02-05 07:11:41,db1
16,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,2025-02-05 07:11:41,db1
17,18,Farias - ME,"Núcleo Lunna Freitas, 26\nVila Nova Cachoeirin...",+55 51 3839 2286,2025-02-05 07:11:41,db1
18,19,Rios - ME,Rodovia Asafe Cavalcanti\nComiteco\n10407897 B...,+55 61 2295 0105,2025-02-05 07:11:41,db1
19,20,Macedo,"Via Freitas, 241\nAlto Das Antenas\n21448085 F...",21 2997 8905,2025-02-05 07:11:41,db1
20,21,das Neves S.A.,Avenida Isis Aparecida\nEstoril\n36007629 Abre...,0900 823 7906,2025-02-05 07:11:41,db1
21,22,Moreira,"Favela de Casa Grande, 83\nTres Marias\n174382...",+55 11 2443-4792,2025-02-05 07:11:41,db1
22,23,Fonseca,"Pátio Vargas, 18\nMala E Cuia\n69300419 Noguei...",(051) 2570 4520,2025-02-05 07:11:41,db1
23,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,2025-02-05 07:11:41,db1
24,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,2025-02-05 07:11:41,db1
25,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,2025-02-05 07:11:41,db1
26,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,2025-02-05 07:11:41,db1
27,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,2025-02-05 07:11:41,db1
28,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,2025-02-05 07:11:41,db1
29,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,2025-02-05 07:11:41,db1
30,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,2025-02-05 07:11:41,db1
31,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,2025-02-05 07:11:41,db1
32,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,2025-02-05 07:11:41,db1
33,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,2025-02-05 07:11:41,db1
34,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,2025-02-05 07:11:41,db1
35,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,2025-02-05 07:11:41,db1
36,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,2025-02-05 07:11:41,db1
37,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,2025-02-05 07:11:41,db1
38,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,2025-02-05 07:11:41,db1
39,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,2025-02-05 07:11:41,db1
40,18,Farias - ME,"Núcleo Lunna Freitas, 26\nVila Nova Cachoeirin...",+55 51 3839 2286,2025-02-05 07:11:41,db1
41,19,Rios - ME,Rodovia Asafe Cavalcanti\nComiteco\n10407897 B...,+55 61 2295 0105,2025-02-05 07:11:41,db1
42,20,Macedo,"Via Freitas, 241\nAlto Das Antenas\n21448085 F...",21 2997 8905,2025-02-05 07:11:41,db1
43,21,das Neves S.A.,Avenida Isis Aparecida\nEstoril\n36007629 Abre...,0900 823 7906,2025-02-05 07:11:41,db1
44,22,Moreira,"Favela de Casa Grande, 83\nTres Marias\n174382...",+55 11 2443-4792,2025-02-05 07:11:41,db1
45,23,Fonseca,"Pátio Vargas, 18\nMala E Cuia\n69300419 Noguei...",(051) 2570 4520,2025-02-05 07:11:41,db1

In [35]:
df = pd.read_parquet("/Users/danielcarloss7s/Downloads/fornecedores.parquet")
display(df)

,id,nome,endereco,telefone,dtcriação,origem
0,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,2025-02-05 07:11:41,db1
1,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,2025-02-05 07:11:41,db1
2,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,2025-02-05 07:11:41,db1
3,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,2025-02-05 07:11:41,db1
4,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,2025-02-05 07:11:41,db1
5,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,2025-02-05 07:11:41,db1
6,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,2025-02-05 07:11:41,db1
7,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,2025-02-05 07:11:41,db1
8,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,2025-02-05 07:11:41,db1
9,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,2025-02-05 07:11:41,db1
10,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,2025-02-05 07:11:41,db1
11,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,2025-02-05 07:11:41,db1
12,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,2025-02-05 07:11:41,db1
13,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,2025-02-05 07:11:41,db1
14,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,2025-02-05 07:11:41,db1
15,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,2025-02-05 07:11:41,db1
16,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,2025-02-05 07:11:41,db1
17,18,Farias - ME,"Núcleo Lunna Freitas, 26\nVila Nova Cachoeirin...",+55 51 3839 2286,2025-02-05 07:11:41,db1
18,19,Rios - ME,Rodovia Asafe Cavalcanti\nComiteco\n10407897 B...,+55 61 2295 0105,2025-02-05 07:11:41,db1
19,20,Macedo,"Via Freitas, 241\nAlto Das Antenas\n21448085 F...",21 2997 8905,2025-02-05 07:11:41,db1
20,21,das Neves S.A.,Avenida Isis Aparecida\nEstoril\n36007629 Abre...,0900 823 7906,2025-02-05 07:11:41,db1
21,22,Moreira,"Favela de Casa Grande, 83\nTres Marias\n174382...",+55 11 2443-4792,2025-02-05 07:11:41,db1
22,23,Fonseca,"Pátio Vargas, 18\nMala E Cuia\n69300419 Noguei...",(051) 2570 4520,2025-02-05 07:11:41,db1
23,1,Machado - ME,Estrada de Azevedo\nVila Nova\n33390-723 da Mo...,+55 81 5040-7669,2025-02-05 07:11:41,db1
24,2,Melo Martins Ltda.,"Passarela de Cardoso, 71\nVila Betânia\n38705-...",0500 859 7457,2025-02-05 07:11:41,db1
25,3,Pereira - EI,"Recanto Lorenzo Pacheco, 18\nCapitão Eduardo\n...",(011) 8144-8050,2025-02-05 07:11:41,db1
26,4,Casa Grande,"Distrito Julia Pastor, 9\nEstrela Do Oriente\n...",(041) 3565-8571,2025-02-05 07:11:41,db1
27,5,Sales,"Chácara de Pires, 9\nPindura Saia\n00870394 Pi...",(084) 2173-5590,2025-02-05 07:11:41,db1
28,6,Abreu,"Feira Nicolas Dias, 22\nGameleira\n00329079 da...",+55 71 3187-2758,2025-02-05 07:11:41,db1
29,7,Ribeiro,"Praia de da Mata, 8\nJoão Alfredo\n98866-706 F...",84 9622 9908,2025-02-05 07:11:41,db1
30,8,Costa Mendonça e Filhos,"Travessa Barros, 802\nCinquentenário\n45486-42...",0500 509 3592,2025-02-05 07:11:41,db1
31,9,Ribeiro,"Vale de Fogaça, 65\nAlto Dos Pinheiros\n258660...",71 9829-4069,2025-02-05 07:11:41,db1
32,10,Carvalho S.A.,"Colônia de Jesus, 14\nConjunto Taquaril\n62597...",+55 61 4893-9602,2025-02-05 07:11:41,db1
33,11,Nunes,Condomínio Almeida\nCidade Jardim\n47696-418 V...,+55 51 8469 7227,2025-02-05 07:11:41,db1
34,12,Viana Pereira S/A,"Estação Luiz Fernando da Rocha, 457\nJardim At...",31 4137-3148,2025-02-05 07:11:41,db1
35,13,Cavalcante,"Rua de Siqueira, 36\nMinas Brasil\n72670397 Co...",+55 21 7247-8470,2025-02-05 07:11:41,db1
36,14,Pinto Novais S/A,"Loteamento de Camargo, 53\nGraça\n28553492 Cam...",+55 (071) 0022-0612,2025-02-05 07:11:41,db1
37,15,da Rocha Ltda.,"Morro Castro, 68\nSão Jorge 3ª Seção\n88148889...",51 8478 8592,2025-02-05 07:11:41,db1
38,16,Sá,"Largo João Cirino, 644\nSaudade\n37173-020 Por...",(061) 0761 7014,2025-02-05 07:11:41,db1
39,17,da Cunha Sousa e Filhos,Via de Aparecida\nSanta Isabel\n47163-670 Cass...,+55 61 1689 8303,2025-02-05 07:11:41,db1
40,18,Farias - ME,"Núcleo Lunna Freitas, 26\nVila Nova Cachoeirin...",+55 51 3839 2286,2025-02-05 07:11:41,db1
41,19,Rios - ME,Rodovia Asafe Cavalcanti\nComiteco\n10407897 B...,+55 61 2295 0105,2025-02-05 07:11:41,db1
42,20,Macedo,"Via Freitas, 241\nAlto Das Antenas\n21448085 F...",21 2997 8905,2025-02-05 07:11:41,db1
43,21,das Neves S.A.,Avenida Isis Aparecida\nEstoril\n36007629 Abre...,0900 823 7906,2025-02-05 07:11:41,db1
44,22,Moreira,"Favela de Casa Grande, 83\nTres Marias\n174382...",+55 11 2443-4792,2025-02-05 07:11:41,db1
45,23,Fonseca,"Pátio Vargas, 18\nMala E Cuia\n69300419 Noguei...",(051) 2570 4520,2025-02-05 07:11:41,db1